<table class="table table-responsive-lg table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Semester</th>
            <th scope="col">LP</th>
        </tr>
    </thead>
    <tbody>
        <% lectures.forEach((lecture, index) => { %>
            <tr>
                <th scope="row">
                    <%= lecture.vorlesung %>
                </th>
                <td>
                    <%= lecture.semester %>
                </td>
                <td>
                    <%= lecture.leistungspunkte %>
                </td>
                <td>
                    <a href="/vorlesungen/editVorlesung/<%= lecture.semester %>/<%= lecture.vorlesung %>" class="btn btn-sm btn-success">Edit</a>
                    <a href="/vorlesungen/deleteVorlesung/<%= lecture.semester %>/<%= lecture.vorlesung %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            <% }) %>
                </tr>
    </tbody>

</table>