<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Übungsblatt</h1>



    </div>
    <% include ./partials/messages %>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <% if (sheet) { %>
                <form class="editUebungsblattForm" action="/uebungsblaetter/editUebungsblatt/<%= sheet.semester %>/<%= sheet.lecture %>/<%= sheet.number %>" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="semester">Semester</label>
                            <select id="semester" name="semester" class="form-control" required>
                            <option selected> <%= sheet.semester %></option>
                            
                                <option><%= sheet.semester %></option>
                            
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="vorlesung"> Vorlesung: </label>
                            <select id="vorlesung" name="vorlesung" class="form-control" required>
                                    <option selected> <%= sheet.lecture %></option>
                            
                                    <option><%= sheet.lecture %></option>
                                
                                </select>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="nummer">Nummer:</label>
                            <select id="nummer" name="nummer" class="form-control" required>
                                    <option selected> <%= sheet.number %></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="punkte">Erreichte Punkte:</label>
                            <input type="text" class="form-control" name="punkte" id="punkte" value="<%= sheet.points %>" required>
                            <small id="lpHelp" class="form-text text-muted">Bitte eine ganze Zahl eingeben (bspw. 4, 5)</small>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="punkteIns">Mögliche Punkte:</label>
                            <input type="text" class="form-control" name="punkteIns" id="punkteIns" value="<%= sheet.maxPoints %>" required>
                            <small id="lpHelp" class="form-text text-muted">Bitte eine ganze Zahl eingeben (bspw. 4, 5)</small>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col align-self-center">
                            <button type="submit" class="btn btn-success btn-block">Edit Übungsblatt</button>
                        </div>
                    </div>
        </div>
        </form>
        <% } else { %>
            <p class="text-center">Übungsblatt Not Found. Go <a href="/uebungsblaetter/addUebungsblatt">here</a> to add Übungsblatter.</p>
            <% } %>

</main>